@import url(https://fonts.googleapis.com/css?family=Croissant+One);

body {
  background: url("http://d3thflcq1yqzn0.cloudfront.net/023555350_prevstill.jpeg");
}

#wrapper {
  position: relative;
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.9);
  position: absolute;
}

#dashboard {
  width: 50%;
  height: 50px;
  padding: 10px;
  color: #efefef;
}

#dashboard .like-data .like {
  position: absolute;
  right: 0px;
  margin-top: 1px;
  display: block;
  font-size: 16px;
}

#dashboard .like-data .like-num {
  font-size: 28px;
  position: absolute;
  top: 2%;
  right: 44px;
}

#dashboard .like-data .like span {
  font-size: 40px;
}

#search-form {
  margin: 15% auto 0 auto;
  width: 50%;
}

h1.title {
  font-family: 'Croissant One', cursive;
  font-size: 64px;
  color: #efefef;
  text-align: center;
}

#search-form .wrapper {
  height: 70px;
  background: #efefef;
  border-radius: 5px;
  position: relative;
}
#search-form .easy-autocomplete {
  width: 100% !important;
}

#search-form #photo-search {
  height: 70px;
  width: 100%;
  font-size: 24px;
  background: transparent;
}

#search-form button[type=submit] {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  color: #cdcdcd;
  position: absolute;
  top: 15%;
  right: 2%;
}

#search-form button[type=submit] span {
  font-size: 30px;
}

#search-form #photo-search:focus,
#search-form button[type=submit]:focus {
  outline: none;
}


#photo-list-wrapper {
  width: 50%;
  height: 685px;
  margin: 5% auto;
  overflow-y: scroll;
}

.image-section {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.image-section img {
  width: 100%;
  border-radius: 3px;
}

.image-section .like {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 4%;
  top: 4%;
  color: red;
}

.image-section .like.glyphicon-heart-empty {
  color: #cdcdcd;
}

.glyphicon-refresh-animate {
    width: 10%;
    height: 10%;
    position : absolute;
    top: 45%;
    left: 45%;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media (max-width: 768px) {
   #search-form {
     width: 100%;
   }
}
